body {
  background-image: url("greenbackground.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 800px;
}
#wrapper {
  display: none;
}

#welcome_text h1 {
  text-align: center;
  padding-top: 16%;
  font-size: 52px;
  color: white;
}

 #letsplay {
  padding: 17px;
    margin: 0 41%;
    background-color: salmon;
    width: 234px;
    color: white;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 600;
}


#trivia_box {
  max-width: 50%;
  Height: auto;
  margin-top: 12%;
  float: left;

}

#button {
  height: 125px;
  font-size: 21px;
  background-image: url("nTX8BXALc.png");
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  padding: 50px;
  margin-left: 65px;

}

#questionBox {
  font-size: 42px;
  text-align: center;
  padding-top: 35px;
  font-weight: 600;
  width: 500px;
}

#plus-sign {
    background-image: url("plus.svg");
    width: 16%;
    height: 100px;
    background-size: contain;
    background-repeat: no-repeat;
    float: right;
    margin-top: 17%;
}

#score {
  width: 17%;
float: right;
font-size: 42px;
font-weight: 600;
margin-top: 19%;
}
